/*Colors
#553E4E
#8E5572
#9B97B2
#BFACC8
#DBD2E0
*/

/*navigation bar CSS Starts*/
NAV {
	border-bottom: 1px solid grey;
}
NAV ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	top: 0;
	width: 80%;
}
NAV li {
	float: left;
	line-height: 100%
}
NAV li a {
	display: block;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
}

.paypal {
	padding-top: 10px; float:right; padding-right: 10px;
}

NAV li a:hover {
	background: linear-gradient(to bottom,#eee, #fff);
}
.statushome{
	line-height: 0;
	padding: 9px 9px !important;
	margin: 0 !important;
}
/*Navigation Bar CSS Ends*/

/*Standard Body CSS Starts*/
@font-face{
	font-family: 'Arimo', sans-serif;
	src: url(../fonts/iOSSF.ttf);
}
body {
	margin: 0;
	font-family: 'Arimo', sans-serif;
}
h1 {
	padding-top: 30px;
	color: #553E4E;
	font-size: 300%;
	font-family: 'Arimo', sans-serif;
}
h2{
	color: #8E5572;
	font-size: 250%;
	text-align: center;
	font-family: 'Arimo', sans-serif;
}
h3{
	margin: 15px;
	color: #333;
	font-size: 130%;
	font-family: 'Arimo', sans-serif;
}
p {
	color: #333;
	font-family: 'Arimo', sans-serif;
	font-size: 110%;

}
a{
	text-decoration: none;
}
li{
	font-family: 'Arimo', sans-serif;
	line-height: 150%;
	color: #444;
}
li a{
	color:#8E5572;
	text-decoration: none;
	font-size: 120%;
}
ol{
	list-style-type: decimal;
}
/*Standard Body CSS Ends*/

/*special Body Info Starts*/
.maininfo {
	column-count: 2;
	column-fill: auto;
	column-rule: 4px double #8E5572;
}
ul.list{
	all:unset;
}

li.list{
	padding-left: 15%;
}


.category {
	border-radius: 15px;
	margin-bottom: 15px;
	width: 95%;
	height: 200px;
}

.basics {
  background: linear-gradient(to top right, red, yellow);
}

.tutorials {
	background: linear-gradient(to top right,#00B7FF, #FFFFC7);
}

.dictionary {

	background: linear-gradient(to top right,#B066FE, #63E2FF);
}

.contributors {
	background: linear-gradient(to top right,#4F00BC, #29ABE2);
}

.category img {
	height: 100px;
	padding: 15px;
	float: right;
	opacity: 0.8;
}

.category h3 {
	position: relative;
	color: white;
	padding: 15px;
	margin: 0px;
}

.category p {
	font-weight: bold;
	font-size: 65%;
	text-transform:uppercase;
	color: white;
	opacity: 0.7;
	padding: 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 15px;
	display: inline-block;
}
.singlesection{
	border: 1px solid grey;
	border-radius: 18px;
	padding-left: 20px;
	padding-right: 20px;
	background: linear-gradient(to bottom,#fff, #eee);
}
.introtext {
	display: block;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 115%;
}

.column{
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.columnfirst {
	display: inline-block;
}
.columnsecond{
	display: block;
}
.centerimage{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.centertext{
	text-align: center;
}

.content {
	width: 60% !important;
	margin: auto;
}

.pagetitle {
	margin: auto;
	font-size: 72px;
	font-weight:bold;
}

.pagetitle img {
	vertical-align:middle;
	height:128px; padding-right: 8px
}

.pagesubtitle {
	font-size: 32px;
	font-weight:lighter;
	text-align: center;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}
